@font-face {
  font-family: "iransans";
  src: url("font/iran-sans.eot");
  src: url("font/iran-sans.woff") format("woff"),
    url("font/iran-sans.ttf") format("truetype");
}

body {
  font-family: iransans;
}

* {
  box-sizing: border-box;
  direction: rtl;
}
